<phpunit bootstrap="autoload.inc.php">
    <testsuites>
        <testsuite name="FatFramework">
            <directory>tests/FatFramework</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/FatFramework/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">tests/FatFramework/</directory>
        </blacklist>
    </filter>
</phpunit>