<phpunit bootstrap="autoload.inc.php">
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="FatFramework">
            <directory>./tests/FatFramework/</directory>
        </testsuite>
    </testsuites>
</phpunit>